.chat-box
  .header{ 'ng-click': 'panelMinimize()' }
    .container{ layout: 'row' }
      .avatar
        %ng-letter-avatar{ data: "Maria", shape: "round", fontFamily: "Open Sans", fontSize: "10px", height: "40px", width: "40px"}
        %span.status
      .name
        != "<h1>{{ user.firstName + ' ' + user.lastName }}</h1>"
      .controls{ layout: 'row', 'layout-align': 'initial center' }
        %i.material-icons.favorite{ 'ng-click': 'favorite($event)' } star
        .minimizeToggle
      %i.material-icons.close{ 'ng-click': 'close($event)' } close
  .content
    .messages-box
    .message-control
      .emojis{ layout: 'row', 'layout-align': 'center center' }
        %i.material-icons insert_emoticon
      %input{ type: "text", 'ng-model': 'message', id: 'message-input', 'ng-keyup': '$event.keyCode == 13 && send()' }
      .send{ layout: 'row', 'layout-align': 'center center' }
        %i.material-icons{ 'ng-click': 'send()' } send