%form{ name: "autocompleteForm" }
  %md-autocomplete{"md-input-name": "autocomplete", "md-item-text": "item.display", "md-items": "item in search(searchText)", "md-search-text": "searchText", "md-selected-item": "selectedItem", required: ""}
    %md-item-template
      %span{"md-highlight-text": "searchText"} {{ item.name }}
    %div{"ng-messages": "autocompleteForm.autocomplete.$error"}
      %div{"ng-message": "required"} This field is required
