%footer.footer
  .container
    .item
      %p
        Orb - Agradecemos por 
        %a{ href: "https://www.google.com.br/maps", target: "_blank" } Google Maps,
        %a{ href: "https://nodejs.org", target: "_blank" } NodeJS,
        %a{ href: "https://www.mongodb.com/", target: "_blank" } MongoDB
        != " e todos os"
        %a{ href: "#obrigado", target: "_blank" } outros.