%div{ 'ng-controller': 'HeaderController as header' }
  != "<header ng-class=\"{ fixed: header.isState('orb') }\" >"
    .container
      %div.brand{ layout: 'row', 'layout-align': 'start center' }
        %i.material-icons{ flex: 'nogrow', 'ng-click': '$root.toggleSidenav("left-sidenav")', 'ng-if': 'header.isAuthenticated()' } menu
        %img{ src: "/dist/images/brand.png", flex: 'noshrink' }
      %nav.menu
        %ul
          %li{ 'ng-if': 'header.isAuthenticated()' }
            %a{ href: "javascript:void(0)", 'ui-sref': 'orb' }
              Orb
          %li{ 'ng-if': '!header.isAuthenticated()' }
            %a{ href: "javascript:void(0)", 'ui-sref': 'sign' }
              Sign
          %li{ 'ng-if': 'header.isAuthenticated()' }
            %a{ href: "javascript:void(0)", 'ng-click': 'header.logout()' }
              Logout
          %li
            %a{ href: "javascript:void(0)", 'ui-sref': 'about' }
              About
      %div.search
        %input{ type: "text", placeholder: "Buscar Orbs!" }
        %i.material-icons{ 'ng-click': '' } search