.sign-up.overlay{ 'ng-show': '$parent.menu == 2' }
  %a{ href: "javascript:void(0)", 'ng-click': '$parent.menu = 0' }.close
    %i.material-icons close
  .overlay-content{ 'ng-controller': 'SignupController as signup', layout: 'column', 'layout-align': 'center center' }
    .banner{ flex: ' '}
      %img{ src: "/dist/images/signup-banner.png", alt: "" }
      %h1 Registre-se e faça parte!
      %h3 Nossa comunidade inteira buscando e compartilhando informações de todo e qualquer lugar do mundo em tempo real.
    %form{ flex: ' '}
      %div{ layout: 'column', 'layout-align': 'center center' }
        %md-input-container
          %label Nome
          %input{ type: 'text', 'ng-model': 'signup.user.firstName' }.md-block
        %md-input-container
          %label Sobrenome
          %input{ type: 'text', 'ng-model': 'signup.user.lastName' }.md-block
        %md-input-container
          %label E-mail
          %input{ type: 'text', 'ng-model': 'signup.user.email' }.md-block
        %md-input-container
          %label Senha
          %input{ type: 'password', 'ng-model': 'signup.user.password' }.md-block
        %md-input-container
          %label Confirmar Senha
          %input{ type: 'password' }.md-block
        %md-button{ type: 'submit', 'ng-click': 'signup.submit()' } Registrar-se