%section.chat-panel{ 'ng-show': 'chatPanel.chats.length > 0' }
  .container
    %orb-chat-box{ 'ng-repeat': 'chat in chatPanel.chats', 'panel-minimize': 'minimize()', chats: 'chatPanel.chats', chat: 'chat' }