%section.map
  .container{ 'ng-controller': 'OrbController as orb' }
    %div{ 'ng-controller': 'MapController as map' }
      %ui-gmap-google-map{ center: 'map.default.center', zoom: 'map.default.zoom', options: 'map.options' }
%orb-chat-panel