%div{ 'ng-controller': 'OrbController as orb' }
  %section.map
    .container
      %div{ 'ng-controller': 'MapController as map' }
        %ui-gmap-google-map{ center: 'map.config.center', zoom: 'map.config.zoom', options: 'map.config.options' }
          != "<ui-gmap-markers models=\"map.markers\" idkey=\"'email'\" coords=\"'coords'\" icon=\"'icon'\" events=\"'events'\"></ui-gmap-markers>"
  %orb-chat-panel