%div{ 'ng-controller': 'OrbController as orb' }
  %section.map
    .container
      %div{ 'ng-controller': 'MapController as map' }
        %ui-gmap-google-map{ center: 'map.config.center', zoom: 'map.config.zoom', options: 'map.config.options' }
          != "<ui-gmap-marker ng-repeat=\"marker in map.markers\" idkey=\"marker.email\" coords=\"marker.coords\" icon=\"{ url: '/dist/images/pin.png' }\">"
  %orb-chat-panel